server:
  port: 4550
  shutdown: "graceful"

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus
  tracing:
    enabled: true
    sampling:
      probability: 1.0

springdoc:
  packagesToScan: uk.gov.hmcts.cp.controllers
  writer-with-order-by-keys: true

spring:
  config:
    import: "optional:configtree:/mnt/secrets/rpe/"
  application:
    name: service-cp-crime-scheduleandlist-courtschedule


case-mapper-client:
  url: ${AMP_BACKEND_URL:http://localhost:8080}
  path: /urnmapper

court-schedule-client:
  url: ${CP_BACKEND_URL:http://localhost}
  path: /listing-query-api/query/api/rest/listing/hearings/allocated-and-unallocated
  cjscppuid: ${CJSCPPUID:00000000-0000-0000-0000-000000000000}

azure:
  application-insights:
    instrumentation-key: ${rpe.AppInsightsInstrumentationKey:00000000-0000-0000-0000-000000000000}